# This file is for Mac OS.
# If you have Windows - install from requirements.txt
selenium==3.141.0
urllib3==1.26.6
SpeechRecognition==3.8.1
pydub==0.25.1
# ffmpy==0.3.0
SpoofMAC==2.1.1
docopt==0.6.2
netifaces==0.11.0